* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0 !important;
}
a {
    text-decoration: none;
    display: inline-block;
}
/* nav part start */
.logo-anim img {
    transform: translateY(300px);
    animation: animDown 1s linear forwards;
    -webkit-animation: animDown 1s linear forwards;
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
}
.menu-style {
    padding: 30px 0 !important;
    position: absolute;
    width: 100%;
    z-index: 109;
}
.menu-style ul li a {
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 20px !important;
    position: relative;
    transition: 0.5s;
}
.menu-style ul li a:hover {
    color: #744fa0 !important;
}
.menu-style ul li.active a {
    color: red !important;
}
.menu-style ul li:hover:last-child a {
    color: #fff;
}
.menu-style ul li a::after {
    position: absolute;
    content: '';
    width: calc(100% - 40px);
    height: 3px;
    background-color: #744fa0;
    border-radius: 50px;
    bottom: -7px;
    left: 20px;
    transform-origin: left;
    transform: scale(0);
    transition: 0.5s;
}
.menu-style ul li a:hover::after {
    transform: scale(1);
    transform-origin: right;
}
.menu-style ul li:last-child a{
    background-color: #744fa0;
    padding: 10px 20px !important;
    border-radius: 10px;
    animation: animDown 0.5s linear forwards;
    -webkit-animation: animDown 0.5s linear forwards;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}
.menu-style ul li:last-child a::after {
    opacity: 0;
}
.menu-style ul li:nth-child(1) {
    transform: translateY(130px);
    -webkit-transform: translateY(130px);
    -moz-transform: translateY(130px);
    -ms-transform: translateY(130px);
    -o-transform: translateY(130px);
    animation: animDown 1.3s linear forwards;
    -webkit-animation: animDown 1.3s linear forwards;
}
.menu-style ul li:nth-child(2) {
    transform: translateY(110px);
    -webkit-transform: translateY(110px);
    -moz-transform: translateY(110px);
    -ms-transform: translateY(110px);
    -o-transform: translateY(110px);
    animation: animDown 1.1s linear forwards;
    -webkit-animation: animDown 1.1s linear forwards;
}
.menu-style ul li:nth-child(3) {
    transform: translateY(90px);
    -webkit-transform: translateY(90px);
    -moz-transform: translateY(90px);
    -ms-transform: translateY(90px);
    -o-transform: translateY(90px);
    animation: animDown 0.9s linear forwards;
    -webkit-animation: animDown 0.9s linear forwards;
}
.menu-style ul li:nth-child(4) {
    transform: translateY(70px);
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    animation: animDown 0.7s linear forwards;
    -webkit-animation: animDown 0.7s linear forwards;
}
.menu-style ul li:nth-child(5) {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    animation: animDown 0.5s linear forwards;
    -webkit-animation: animDown 0.5s linear forwards;
}
/* nav part end */


/* banner part start */
.banner-img {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/banner.jpg) no-repeat center / cover;
    padding: 300px 0;
}
#banner .slick-dots {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#banner .slick-dots li {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 5px;
}
#banner .slick-dots li button {
    width: 10px;
    height: 10px;
    background-color: #744fa0;
    border-radius: 50%;
    color: transparent;
    border: none;
    outline: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    opacity: 0;
}
#banner .slick-dots li.slick-active button {
    opacity: 1;
}
#banner .slick-dots li.slick-active {
    border: 2px solid #744fa0;
}
.banner-text-main {
    position: relative;
}
.banner-text {
    text-align: right;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 99;
}
.banner-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    transform: translateX(-100px);
    animation: animLeft 0.5s linear forwards;
    -webkit-animation: animLeft 0.5s linear forwards;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}
.banner-text h4 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    transform: translateX(-100px);
    animation: animLeft 0.5s linear forwards;
    -webkit-animation: animLeft 0.7s linear forwards;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}
hr {
    display: inline-block;
    padding-right: 200px;
    height: 5px;
    background-color: #fff;
    transform: translateX(-100px);
    animation: animLeft 0.9s linear forwards;
    -webkit-animation: animLeft 0.9s linear forwards;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}
.banner-text h2::first-letter {
    color: #744fa0;
}
.banner-text p {
    color: #fff;
    padding-left: 650px;
    transform: translateX(-100px);
    animation: animLeft 0.5s linear forwards;
    -webkit-animation: animLeft 1.1s linear forwards;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}
.ban-btn a {
    text-align: left;
    padding: 5px 10px 5px 50px;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.ban-btn a:first-child{
    animation: animDown 0.5s linear forwards;
    -webkit-animation: animDown 0.9s linear forwards;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}
.ban-btn a:last-child{
    animation: animDown 0.5s linear forwards;
    -webkit-animation: animDown 0.5s linear forwards;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
}
.ban-btn a i {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #353535;
    font-size: 25px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ban-btn a h5,h6 {
    color: #353535;
}
.ban-btn a:hover {
    background-color: #744fa0;
}
.ban-btn a:hover h5{
    color: #fff;
}
.ban-btn a:hover h6{
    color: #fff;
}
.ban-btn a:hover i{
    color: #fff;
}

#banner .slick-dots li:first-child {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    animation: animDown 0.5s linear forwards;
    -webkit-animation: animDown 0.5s linear forwards;
}
#banner .slick-dots li:last-child {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    animation: animDown 0.5s linear forwards;
    -webkit-animation: animDown 0.5s linear forwards;
}
#banner .slick-dots li:nth-child(2) {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    animation: animDown 0.5s linear forwards;
    -webkit-animation: animDown 0.5s linear forwards;
}
/* banner part end */


/* about part start */
#about {
    padding: 70px 0;
}
.about-head {
    text-align: center;
}
.about-text {
    text-align: center;
    margin-top: 50px;
}
.about-text p {
    margin-top: 20px;
    padding: 0 50px;
}
.about-img {
    text-align: right;
}
.about-img img {
    width: 100%;
}
/* about part end */


/* feature part start */
#feature {
    background-color: #f1f1f1;
    padding: 50px 0;
}
.feature-head {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.feature-inner {
    text-align: center;
}
.feature-text {
    text-align: right;
    margin-top: 70px;
}
.feature-text h4 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.feature-text p {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.feature-btn-main {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}
.feature-icon i {
    font-size: 30px;
    padding-left: 10px;
    color: #353535;
}
.feature-btn-text {
    text-align: left;
    padding-left: 10px;
    line-height: 15px;
}
.feature-btn-main::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 2px;
    background-color: #353535;
    bottom: 10px;
    left: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.feature-btn-main:hover::after {
    width: 100%;
    background-color: #744fa0;
}
.feature-btn-text h5 {
    text-transform: uppercase;
}
#feature button {
    padding: 0;
    border: none;
    outline: none;
    color: #353535;
}
#feature button:hover {
    color: #744fa0;
}
#feature button:hover i {
    color: #744fa0;
}
#feature button.active {
    background-color: transparent;
    color: #744fa0;
}
#feature button.active .feature-btn-main::after {
    width: 100%;
    background-color: #744fa0;
}
#feature button.active i {
    color: #744fa0;
}
#feature button:last-child .feature-btn-main::after {
    opacity: 0;
}
/* feature part css end */



/* screenshort part css start */
#screenshort {
    padding: 70px 0;
}
.screenshort-head {
    text-align: center;
}
.screenshort-head h3 {
    text-transform: uppercase;
}
.screenshort-main {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.screenshort-items {
    text-align: center;
}
.screenshort-inner {
    margin: 0 10px;
}
.screenshort-inner img {
    width: 100%;
    height: 100%;
}

#screenshort .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#screenshort .slick-dots li {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #353535;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#screenshort .slick-dots li button {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-left: 3px;
    background-color: #744fa0;
    border-radius: 50%;
    color: transparent;
    outline: none;
    border: none;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#screenshort .slick-dots li.slick-active button {
    opacity: 1;
}
#screenshort .slick-dots li.slick-active {
    border: 2px solid #744fa0;
}
/* screenshort part css end */



/* video part css start */
#video {
    padding: 50px 0;
}
.video-head {
    text-align: center;
}
.video-head h3 {
    text-transform: uppercase;
}
.video-main {
    margin-top: 90px;
    position: relative;
}
.video-main img {
    width: 100%;
}
.video-play {
    position: absolute;
    width: 55px;
    height: 55px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 8px solid #fff;
    border-radius: 50%;
    z-index: 200;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.video-play i {
    color: #fff;
    font-size: 30px;
    margin-top: 3px;
    margin-left: 5px;
}
/* video part css end */



/* plan part css start */
#plan {
    padding: 50px 0;
}
.plan-head {
    text-align: center;
}
.plan-head h3 {
    text-transform: uppercase;
}
.plan-items {
    margin-top: 50px;
    background-color: #fff;
    text-align: center;
}
.plan-items h4 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: #f1f1f1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.plan-rate {
    background-color: #fff;
    text-align: center;
    line-height: 10px;
    padding: 10px 0;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.plan-rate h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.plan-rate span {
    font-size: 40px;
}
.plan-body {
    background-color: #f1f1f1;
    padding: 20px 0 50px 0;
    position: relative;
}
.plan-body h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.plan-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
}
.plan-btn a {
    color: #353535;
    padding: 5px 20px;
    border: 2px solid #353535;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.plan-items:hover h4 {
    background-color: #744fa0;
    color: #fff;
}
.plan-items:hover .plan-btn a {
    background-color: #744fa0;
    color: #fff;
    border: 2px solid transparent;
}
/* plan part css end */



/* team part css start */
#team {
    padding: 70px 0;
}
.team-head {
    text-align: center;
}
.team-head h3 {
    text-transform: uppercase;
}
.team-items {
    padding-top: 80px;
    position: relative;
}
.team-inner {
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 799;
}
.team-inner img {
    width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 0.5s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.team-inner:hover {
    transform: translateY(-22%);
    -webkit-transform: translateY(-22%);
    -moz-transform: translateY(-22%);
    -ms-transform: translateY(-22%);
    -o-transform: translateY(-22%);
}
.team-inner:hover .team-over {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.team-text {
    position: absolute;
    bottom: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-align: center;
    border: 1px solid #353535;
    border-top: none;
    padding-top: 70px;
    z-index: -799;
}
.team-text h4 {
    text-transform: uppercase;
}
.team-inner:hover .team-text {
    transform: translateY(170px);
    -webkit-transform: translateY(170px);
    -moz-transform: translateY(170px);
    -ms-transform: translateY(170px);
    -o-transform: translateY(170px);
}
.team-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.team-icon i {
    font-size: 20px;
    background-color: #fff;
    color: #353535;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team-icon i:hover {
    background-color: #1da1f2;
    color: #fff;
}
/* team part css end */



/* feedback part css start */
#feedback {
    padding: 50px 0;
}
.feedback-head {
    text-align: center;
}
.feedback-head h3 {
    text-transform: uppercase;
}
.feedback-main {
    margin-top: 30px;
    padding: 50px 0;
    background: url(../images/feedback.jpg) no-repeat center / cover;
    position: relative;
    z-index: 333;
}
.feedback-main::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: -333;
}
.ggg {
    margin: 0 auto;
}
.feed-items {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.feed-text-box {
    text-align: center;
}
.feed-text-box p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.slick-track {
    margin: 30px 0;
}
.feed-profile .slick-center {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.feed-profile .slick-center .feed-inner {
    border: 4px solid #744fa0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.feed-profile .slick-center .feed-inner::after {
    background-color: transparent;
}
.tringle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
    -moz-transform: translate(-50%, 50%) rotate(45deg);
    -ms-transform: translate(-50%, 50%) rotate(45deg);
    -o-transform: translate(-50%, 50%) rotate(45deg);
}

.feed-main-main-main {
   width: 550px;
}
.feed-profile ul {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}
.feed-profile ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 5px;
}
.feed-profile ul li button {
    margin-top: 3px;
    margin-left: 3px;
    color: transparent;
    border: none;
    outline: none;
    width: 10px;
    height: 10px;
    background: #744fa0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
}
.feed-profile ul li.slick-active button {
    opacity: 1;
}
.feed-profile ul li.slick-active {
    border: 2px solid #744fa0;
}
.feed-profile .slick-list {
    text-align: center !important;
}
.feed-img {
    text-align: center;
}
.feed-inner {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}
.feed-inner::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffffa4;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.feed-inner img {
    width: 100%;
    height: 100%;
}
/* feedback part css end */



/* get in touch part css start */
#touch {
    padding: 50px 0;
}
.touch-head {
    text-align: center;
}
.touch-head h3 {
    text-transform: uppercase;
}
.touch-main {
    margin-top: 50px;
}
.input-box {
    display: flex;
    justify-content: space-between;
}
.input-box input {
    width: calc(33.33% - 20px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 5px 0 5px 20px;
    outline: none;
}
.text-box textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 150px;
    resize: none;
    margin-top: 35px;
    padding: 20px;
    outline: none;
}
.submit-btn {
    text-align: center;
    margin-top: 30px;
}
.submit-btn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #744fa0;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.submit-btn button:hover {
    background-color: #744fa0;
    box-shadow: 0 0 5px #744fa0, 0 0 25px #744fa0, 0 0 50px #744fa0, 0 0 100px #744fa0;
}
/* get in touch part css end */



/* footer part css start */
footer {
    padding: 50px 0;
    background-color: #353535;
}
.footer-logo {
    text-align: center;
}
.footer-logo img {
    width: 150px;
}
.footer-icon {
    margin-top: 30px;
    text-align: center;
}
.footer-icon i {
    margin: 0 5px;
    font-size: 20px;
    color: #353535;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.footer-icon i:hover {
    background-color: #1da1f2;
    color: #fff;
}

.copy {
    text-align: center;
    margin-top: 40px;
}
.copy p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.appon {
    color: #1da1f2;
}
.imran {
    color: #744fa0;
}


@keyframes animLeft {
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
@keyframes animDown {
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}


